@import "tailwind.scss";

.ant-modal-wrap {
    @apply custom-overflow-y;
    @apply select-none;
}
.ant-modal { // 临时全局定义模态框距顶距离-20px
    top: 20px;
}
.ant-drawer {
    @apply custom-overflow-y;
    @apply select-none;
}
.drawer-category-manage {
    .ant-drawer-header {
        padding: 8px;
        .ant-drawer-title {
            font-size: 14px;
        }
    }
    .ant-drawer-body {
        @apply custom-overflow-y;
        padding: 8px;
    }
}